.navbar {
    background-color: #D2C199;
    font-weight: bolder;
}
.dropdown-menu{
    /* background-color: var(--light); */
    /* background-color: #E2D7BE; */
    background-color: #ECE5D4;
    a {
        color: black;
    }
    
}
.navbar input[type="search"] {

    background-color : #ECE5D4; 
  
}
.competition-status.rateinfo{
    background-color: #D2C199; 
    color: black;
    

}
.btn-secondary {
    background-color: #d1ac55;
    border-color: #d1ac55;
    color: black;
    font-weight: bold;
}
.btn-secondary:hover {
    -webkit-transform: scale(1.1);
    background-color: #d1ac55;
}
.btn-primary {
    background-color: #d1ac55;
    border-color: #d1ac55;
    color: black;
    font-weight: bold;
}

.btn-primary:disabled {
    background-color: #c7bda7;
    border-color: #c7bda7;
    color: black;
    font-weight: regular;
}
.btn-primary:hover {
    -webkit-transform: scale(1.1);
    background-color: #d49910;
}
.navbar input[type="search"] {
    Border: solid rgba(209, 172, 85,0.50) !important;
    font-weight: bold;
} 
#welcome-popup-lesshelp{
    color: #D2C199;
    font-weight: bold;
}
/*inputs, textareas, select, etc. */
.form-control:focus {
    border-color: rgba(209, 172, 85,0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(209, 172, 85,0.6);
    outline: 0 none;
  }
  
.popover {
    max-width: 550px ;
    width: 85% ;
}
/*scrollable popover body on small screens (iphone SE/Galaxy S8)*/
@media only screen and (max-height: 741px){
.popover-body  { 
    height: 420px;
    overflow: auto;
    white-space:pre-wrap;
}
}

.beer-number {

}

.beer-name {
}

.beer-style {
    font-family: arial;
    font-style: italic;
    font-size: 80%;
}

.gold {
    color: gold;
}

.grey {
    color: grey;
}

.rating > input {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.rating > label {
    float: left;
    width: 1.2em;
    padding: 0 .2em; 
    overflow: hidden;
    white-space: nowrap; 
    font-size: 160%; 
    line-height: 1.2;
    color: gold;
    visibility: hidden;
}

.rating > label:before {
    visibility: visible;
    content: '\2605';
    font-family: "Font Awesome 5 Free";
    display: inline-block; /*fa 5*/
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    margin-top: 0.25rem;
}

.rating > label.rating-clear-button:before {
    visibility: visible;
    content: '\f05e';
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    margin-top: 0.25rem; /*mt-1*/
    vertical-align: middle;
    font-weight: 900;
    color: black;
}

.rating > input:checked ~ label {
    color: grey;
}

.rating > input:checked + label {
    color: gold;
}

/*drank checkbox, as a rotating glass*/

.drank  input[type='checkbox'] {
    display:none;
}
 .drank   input[type='checkbox']+ label:before {
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    content: "\f4e3"; /*fas fa-wine-glass-alt*/
	font-size:1.5rem;
	cursor:pointer;
    font-weight: 600;
    color: #d1d1d2;
    
 
 }
 .drank  input[type='checkbox']:checked + label:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f5ce"; /*fas fa-wine-glass*/
	font-size:1.5rem;
	cursor:pointer;
    font-weight: 900;
    color: #FFD43B;
    
 }

.rotate{
    -moz-transition: all 0.35s linear;
    -webkit-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

.rotate.down{
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}



/*loading spinner overlay*/
.cssload-container {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.cssload-speeding-wheel {
    content: "";
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 63px;
    height: 63px;
    margin: 0 auto;
    border: 4px solid rgb(210, 193, 153);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 500ms infinite linear;
    -o-animation: cssload-spin 500ms infinite linear;
    -ms-animation: cssload-spin 500ms infinite linear;
    -webkit-animation: cssload-spin 500ms infinite linear;
    -moz-animation: cssload-spin 500ms infinite linear;
}

@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.modal .content {
    overflow:auto;
    max-height:calc(100vh - 125px);
  }